{% include 'lr_links.html.twig' %}
 {% if providers %}
     {% for key, provider in providers %}
         {% if provider %}
             <div style="margin-bottom: 3px;">

             <div style="width:350px; float:left;">
                 {% if status %}
                     <span style="color:green">{{ 'Currently Connected with'|t }}</span>
                 {% else %}
                     {{ 'Connected with'|t }}
                 {% endif %}
                 {{ provider }}
                 <img style="margin-right: 5%;vertical-align: middle;"
                      src="{{ image_url }}/{{ provider }}.png">

             </div>
             <div>
                 <a href="{{ delete_url }}">{{ 'Delete'|t }}</a>
             </div>
         {% endif %}
     {% endfor %}
 {% endif %}